$royal: #607D8B;
$popup-title-size: 1.4em;
$text-size: 1em;
$text-size-small: 0.9em;
$text-size-larger: 1.1em;
$modal-title-size: 1.75em;
$icon-size: 4em;
$text-color: #3f3f3f;
$background: #efefef;
$popup-head-background: #009688;
$title-color: #efefef;
$popup-border: #00695C;
$aref: #00695C;